/*
/*/
!.gitignore
!hosts

!/sqlite-tools-win32-x86-3240000

!/apache
/apache/*
/apache/*/

!/apache/conf
/apache/conf/*
/apache/conf/*/
!/apache/conf/httpd.conf

!/apache/conf/extra
/apache/conf/extra/*
/apache/conf/extra/*/

!/apache/conf/extra/vhosts
!/apache/conf/extra/vhosts/test-laravel.apacheconf

!/phpMyAdmin
/phpMyAdmin/*
!/phpMyAdmin/config.inc.php
